:root {
    --light-brown: #db9967;
    --light-grey: #b0a399;
}


header {
    background-color: var(--light-brown);
}

.hide {
    display: none !important;
}

.light-brown {
    color: var(--light-brown);
}

.bg-light-brown {
    background-color: var(--light-brown);
}

.grey {
    color: var(--light-grey);
}

.border-grey {
    border-color: var(--light-grey);
}

.bg-grey {
    background-color: var(--light-grey);
}

#start {
    background-color: var(--light-grey);
    width: fit-content;
    margin: 10px auto;
    font-size: 30px;
}

.font-large {
    font-size: 36px !important;
}

.font-medium {
    font-size: 24px !important;
}

.bg-image {
    background-image: url(./images/cat-pattern.jpeg);
    background-size: fill;
    background-position: center;
}

#petImage{
    max-height: 600px;
}