:root {
    --light-brown: #db9967;
    --light-grey: #b0a399;
}


body {
    max-width: 100%;
    overflow: hidden;
}

header {
    background-color: var(--light-brown);
}

.hide {
    display: none !important;
}

.light-brown {
    color: var(--light-brown);
}

.bg-light-brown {

    background-color: var(--light-brown);
}

.grey {
    color: var(--light-grey);
}

.border-grey {
    border-color: var(--light-grey);
}

.bg-grey {
    background-color: var(--light-grey);

}

#start {
    background-color: var(--light-grey);
    width: fit-content;
    margin: 10px auto;
    font-size: 30px;
}

.font-large {
    font-size: 36px;
}

.font-medium {
    font-size: 24px !important;
}

.bg-image {
    background-image: url(./images/cat-pattern.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#petImage {
    max-height: 600px;
}

#generateButton:hover {
    background-color: var(--light-grey)
}

#favoriteButton:hover {
    background-color: var(--light-grey)
}

#start:hover {
    background-color: var(--light-brown)
}

@media (max-width: 768px) {

    body {
        overflow: visible;
    }

    .bg-image {
        background-size: cover;
        overflow-y: auto;
        background-position: center;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .col-span-6 {
        grid-row-start: 1;
    }

    .col-span-3:nth-child(1) {
        grid-row-start: 3;
    }

    .col-span-3:nth-child(2) {
        grid-row-start: 2;
    }

    #petImage {
        max-height: 450px;
    }

    .mobile-title {
        font-size: 30px !important;
    }

    .mobile-text {
        font-size: 20px !important;
    }

    .mobile-header {
        flex-direction: column;
        align-items: center;
    }

    .smaller-padding {
        padding: 5px 0px;
    }


}

@media screen and (max-width: 864px) {
    .smaller-div {
        margin-top: 15px !important;
        margin: 0px auto !important;
        width: 90% !important;
    }
}


@media (max-width: 1028px) {
    .bg-image {
        background-size: cover;
        overflow-y: auto;
        background-position: center;
    }

    .smaller-div {
        margin-top: 25px !important;
        margin: 0px auto !important;
        width: 75% !important;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 1300px) {
    .smaller-div {
        width: 70%;
    }
}